@keyframes ping-slow {
  0% { transform: scale(0.9); opacity: 1; }
  100% { transform: scale(2.5); opacity: 0; }
}

.animate-ping-slow {
  animation: ping-slow 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.ease-out-expo {
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes gradient-x-fast {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-x-fast {
  background-size: 200% auto;
  animation: gradient-x-fast 5s ease infinite;
}